<div class="navbar bg-gray-800 flex flex-col lg:flex-row items-center justify-between p-6 rounded-lg shadow-md">
    <div>
        <h1><a href="/" class="text-white py-4 px-6 text-3xl">LEGO Collection</a></h1>
    </div>
    <div class="flex items-center mt-4 lg:mt-0">
        <ul class="flex">
            <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %> bg-gray-900 bg-opacity-30 border-none text-base text-white px-7 py-3 rounded-md hover:bg-gray-900 hover:bg-opacity-40 mx-1" href="/lego/sets">View Collection</a></li>
            <li><a class="<%= (page == "/about") ? 'active' : '' %> bg-gray-900 bg-opacity-30 border-none text-base text-white px-7 py-3 rounded-md hover:bg-gray-900 hover:bg-opacity-40 mx-1" href="/about">About</a></li>
        </ul>
    </div>
</div>
